body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #222;
    color: white;
    padding: 20px;
}

section {
    padding: 20px;
    background: white;
    margin: 10px;
    border-radius: 8px;
}

img {
    width: 150px;
    border-radius: 50%;
}

footer {
    background: #222;
    color: white;
    padding: 10px;
}
